<div class="article-content">
	<h2>家居收纳用品有哪些</h2>

	<p> 无论你的家是大是家，每个家都需要收纳，让家看起来整洁，空间大，发挥余地自然大，那么对于小空间，如何在在现有空间挖掘出更大收纳领域呢，其实，许多小角落都隐藏着收纳潜力，任何物品都可能成为家居收纳用品，下面让我们一起来发掘一下吧！</p>

	<img src="../dist/img/articles/jiaju1.jpg"/>
	<img src="../dist/img/articles/jiaju2.jpg"/>
	<img src="../dist/img/articles/jiaju3.jpg"/>
	<img src="../dist/img/articles/jiaju4.jpg"/>
	<img src="../dist/img/articles/jiaju5.jpg"/>
	<img src="../dist/img/articles/jiaju6.jpg"/>
	<img src="../dist/img/articles/jiaju7.jpg"/>
</div>