<div class="article-content">
	<h2>桑拿沙发的尺寸及优点</h2>

	<p> 桑拿，起源于芬兰，是一种利用蒸汽排汗的沐浴方式。桑拿沙发属于休闲沙发的一种，具有足浴泡脚和桑拿按摩的功能。按照使用性质来分可分为按摩沙发、足疗沙发两大类。其特点是沙发靠背和腿部靠垫可升降，符合人体工学。那么桑拿沙发的尺寸是什么呢，它的有点又是怎样的。</p>

	<img src="dist/img/articles/sangna1.jpg"/>
	<p>一、桑拿沙发的尺寸</p>
　　 <p>桑拿沙发尺寸的定义是宽×深×高，而不是长×宽×高，单位为mm</p>
　　 <p>1、宽度</p>
　　 <p>宽度是指桑拿足浴沙发从左到右，两个扶手外围的最大的距离，也就是通常意义上所说的沙发的“长度”，而座宽是指除去两边扶手的宽度。可用公式可表示为：座宽=宽度-扶手宽度×2，沙发的单人、二人、三人就是根据宽和座宽来决定的，因为这两个数据决定了沙发的可座长度。</p>
　　<p>2、 深度</p>
　　<p>深度是指桑拿足浴沙发从前往后，包括靠背在内的沙发前后的最大距离，也就是通常意义上大家所说的“宽度”，而座深是指除靠背外的深度。可用公式可表示为：座深=深度-后靠的厚度，由于款式的要求，沙发深度在800-1000，座深550-700都是正常的，深发方圆家具建议您有些朋友喜欢较深的沙发，因为坐上去会觉得很放松。但是深度也不能太大，要考虑到现场的大小以及桑拿足浴沙发的协调美观程度。</p>
　　<p>3、高度</p>
　　<p>高度是指沙发从地面到沙发最高处的上下的最大的距离，和通常意义的“高”是同一个概念，而座高是指地面到座位表面的距离。建议高度在40-45之间。</p>
	<img src="dist/img/articles/sangna2.jpg"/>
	<p> 二、桑拿沙发的优点</p>
 　　<p>1、天然桑拿沙发的超高弹性与服贴性让桑拿沙发床垫可承载不同体重之人体，以最佳的支撑力去自然适应睡眠者的任何姿势，解除因睡眠所造成的腰酸与不易入睡。</p>
　　<p>2、透气防菌：桑拿沙发的分子结构特殊，具有良好的舒适性、透气性，抑制细菌及寄生虫的滋生;开放式的桑拿沙发多孔气囊结构体，使空气在床垫中依然能自由流通，可分散睡眠中肌肤与床垫接触产生的热气、汗气、保持睡眠中的舒适干爽。</p>
	<img src="dist/img/articles/sangna3.jpg"/>
	<p>3、桑拿沙发床垫接触人体面积比普通床垫接触人体面积高出5-6倍，能平均分散人体重量的承受力，自动调节不良睡姿，健康令脊椎放松复原，从而具有矫形功能。</p>
　　<p>4、国际认证，经久耐用，永不变形。</p>
　　<p>5、纯天然桑拿沙发床垫能吸收因睡眠翻动，所造成的噪音及震动，使睡眠中不受干扰，不会影响睡伴，并能有效减少翻身次数，让您睡得更安稳香甜。</p>
	<img src="dist/img/articles/sangna4.jpg"/>
	<p>6、桑拿沙发床垫采用非金属部件，从而有力地阻止磁场的形成，做到完全绝缘和抗静电，天然桑拿沙发，拥有舒适自然的温和特性，无化学合成物，与肌肤接触不会产生不良的化学反应，高科技自然环保桑拿沙发保证睡眠舒适健康。</p>
　　<p>现在你了解桑拿沙发了吗?</p>
</div>