<div class="article-content">
	<h2>飘窗台面的选择</h2>

	<p> 飘窗不但可以享受充足的室内光线，还可以饱览室外秀美景观，下面我们来看看飘窗台面的选择。</p>

	<img src="dist/img/articles/taimian1.png"/>
	<p>飘窗台面的选择</p>
	<p>1、石材类：人造石是最普遍的飘窗台面材料，优点是不怕潮，不会变形，维护方便。缺点是在寒冷的冬天会比较冷，如果喜欢在飘窗台面上小憩的话就一定要弄张毯子铺一下。</p>
    <p>天然石的优点跟人造石一样，只是在价格上比人造石便宜，但值得注意的是天然石是有辐射的，大理石的辐射等级分三类：A类辐射最小，B类次之，C类最大。不过选择A类用在室内是完全没有问题的，还有尽量不要选择颜色鲜艳的大理石。花岗岩的辐射要比大理石强烈，所以能不选就不选。选天然石做飘窗台面比较经济实惠，但要注意窗台基一定要平，最好用水泥固定，否则容易裂。</p>
    <p>2、木工板材类：用木工板做台面主要是冬天不感觉冷，看起来比较简洁，缺点是时间长了容易被阳光晒变形，万一遇到窗户打雨还容易受潮，到了冬天飘窗上还会有不少的冷凝水滴流到台面，也会使木工板的台面受潮变形。桑拿板在防潮的方面就解决了木工板的缺陷，但是桑拿板颜色单一，还要用其他布艺之类进行装饰。</p>
	<img src="dist/img/articles/taimian2.png"/>
	<p>3、复合地板：用复合地板一定要和整体的设计相协调。用复合地板既不会怕潮，坐在上面又不会很冷，而且不贵，但是一定要注意，在装潢设计之前就一定要把飘窗的设计弄好，和地板有一个很好的衔接，收边的时候可以用实木，这样效果极佳，如果家中有剩余地板的话正好可以物尽其用。</p>
	<p>4、瓷砖：如果觉得人造石太贵了，就可以用地砖或马赛克进行铺贴，瓷砖和马赛克跟人造石的防潮效果一样，就是有接缝，不那么美观，可以打一个木制的小花栅栏用于装饰，但是收边的问题不好解决。</p>
	<img src="dist/img/articles/taimian3.png"/>
	<p>飘窗台面材料选择方法</p>
    <p>1、飘窗台面材料选择一定要能防晒，抗腐蚀性强。
    因为飘窗的位置原因，难免时常开窗通风换气，风吹日晒的过程中容易变质发霉腐蚀的材料不宜选择。</p>
    <p>2、飘窗台面材料选择一定要着眼整体，设计风格统一。</p>
    <p>飘窗台面材料的选择一般考虑到使用用木材或石材时，要从该区域的整体装修风格出发选定其一，然后考虑飘窗台面上方空间是否要灯光处理，是否需要吊顶，并考虑到窗帘盒或窗帘杆的位置设置，着眼整体，确保该区域的设计风格统一。
	</p>
	<img src="dist/img/articles/taimian3.png"/>
	<p>3、飘窗台面材料选择一定要因地制宜，考虑实用性。</p>
    <p>有些业主偏爱飘窗至极，卧室的中心围绕飘窗设计。飘窗台面材料使用木工板做成单人床，两侧打满格子放满书籍，俨然一副动漫书屋的感觉。然而这并不是所有的居室都适合，朝向不好的房间，室内采光不好，阴暗潮湿，便不适合该方案。所以飘窗台面材料选择一定要因地制宜，考虑实用性。</p>
    <p>关于飘窗台面的相关知识就介绍到这里了，希望以上的内容可以帮助到大家！</p>
</div>	