<div class="article-content">
	<h2>网淘来的厨房小物件</h2>

	<p> 我就是超级爱在淘宝上淘货，简直有种走火入魔的感觉，看到好多市面上很难找到，价格又是很便宜的好东东，我坚决点下鼠标，出手！还好，淘宝带给我的，更多的是惊喜。不过这淘东西真的需要比较和鉴别的，不能谁家的都随便买，我有同事就说我，你真是够胆大的，什么都敢在网上买，你不怕买到个假的或劣质的？谁不怕，谁都怕啊，关键得学会沙里淘金才行。所以，如果是新手买家，就先淘些小东东吧，时间久了，就学会火眼金晶了。</p>
	<p>先上的是宝是卫生间的洗漱四件套。我家LD问了，怎么只一个杯子，我无奈人家这个系列都只有一个杯子，但是，我真是太爱这个款了，怎么办，大不了以后碰到再买它一个杯子，嘿嘿。</p>

	<img src="dist/img/articles/wanggou1.jpg"/>
	<p> 接下来是餐桌四件套。哎，有TX说，这个不实用，又不吃西餐。但在我家还好，目前有一个小瓶子装盐的，用过了，嘿嘿。真的是喜欢，而且又便宜，我就当满足自己也要买，谁叫我是巨蟹座的狂人，爱家更爱厨房呢，无奈了。</p>
	<img src="dist/img/articles/wanggou2.jpg"/>
	<p> 接下来上场的宝是厨房两件套。谁会把酱油和醋非得装到这个瓶子里呢？我会！我就是那种越喜欢器皿的，吃个炸酱面都得费事的找一个最喜欢最漂亮的大玻璃碗，好像那样吃面就好香啊！最不喜欢的事就是，在餐厅吃饭的时候人家拿个破盘子或破碗给我，感觉不好。</p>
	<img src="dist/img/articles/wanggou3.jpg"/>
	<p>下面轮到厨房三件套，和上面那个一套的，多可爱多漂亮多乡村啊，喜欢疯了！快合影吧，宝儿们！</p>
	<img src="dist/img/articles/wanggou4.jpg"/>
	<p>把他们放在厨房的台面上，真是可爱死了，为了他们我也得经常出现在厨房这个第一线阵地上！</p>
	<img src="dist/img/articles/wanggou5.jpg"/>
	<p> 怎么样，不错吧，我灰常喜欢。</p>
</div>